<!-- <header class="header"> -->
    <!-- <app-login [data]="user"
               [formDataObj]="fields"></app-login> -->

    <!-- <app-login></app-login>
               
</header> -->

<!-- <form [formGroup]="form" (ngSubmit)="submit(model)">
    <formly-form [form]="form" [fields]="fields" [model]="model">
      <button type="submit" class="btn btn-default">Submit</button>
    </formly-form>
</form> -->

<form [formGroup]="form" (ngSubmit)="submit(model)">
    <formly-form [model]="model" [fields]="fields">
      <button type="submit">Submit</button>
    </formly-form>
</form>

  {{ model|json }} 

