/* @import '~bootstrap/dist/css/bootstrap.min.css'; */

/* Fonts */
@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.ttf');
}
  
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf');
}
  
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Medium.ttf');
}
  
  
  /* Global */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 62.6%;

}

/* @media only screen and (max-width: 112.5em) {
    html {
        font-size: 75%;    
    }
} */

body {
    height: 100%;
    background-image: linear-gradient(to right bottom,
    rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
    font-family: 'Montserrat-Regular', 'sans-serif' !important;
    color: #777 !important;
    box-sizing: border-box;
}

.btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(rgb(2, 2, 2, .2));
}

.btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 1rem 2rem rgba(rgb(2, 2, 2, .2));
}

.btn--green {
    background-color: #55c57a;
    color: #fff;
}
.btn--green::after {
    background-color: #55c57a;
}

.margin-top {
    margin-top: 5rem;
}
.margin-bottom {
    margin-bottom: 3rem;
}

.header-secondary {
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: .2rem;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
}

@media only screen and (max-width: 75em) {
    html {
        font-size: 56.25%;    
    }
}

@media only screen and (max-width: 56.25em) {
    html {
        font-size: 50%;    
    }
    .header-secondary {
        font-size: 3rem;    
    }
}

@media only screen and (max-width: 37.5em) {
    .header-secondary {
        font-size: 2.5rem;    
    }
}

/* .form-control {
    font-size: 1.5rem !important;
    font-family: inherit !important;
    color: inherit !important;
    padding: 1.5rem 2rem !important;
    border-radius: 2px !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
    border: none !important;
    border-bottom: 3px solid transparent !important;
    width: 90% !important;
    display: block !important;
    transition: all .3s !important;
}

.form-control:focus {
    outline: none !important;
    box-shadow: 0 1rem 2rem rgba(5, 5, 5, 0.1) !important;
    border-bottom: 3px solid #55c57a !important;
}

.form-control::placeholder {
    color: #999 !important;
}

label {
    font-size: 1.2rem !important;
    font-weight: 700 !important;
    display: block !important;
    transition: all .3s !important;
}

.form-control:placeholder-shown + label {
    opacity: 0 !important;
    visibility: hidden !important;
    transform: translateY(-4rem) !important;
} */

/* // COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem; */