* {
    background-color: #f7f6f6;
    font-size: 1.4rem;
}

#sidebar {
    width: 260px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}


.sidebar-header {
    margin-top: 5rem;
}
.logo{
    width: 30px;
    height: 30px;
    background-color: #55c57a;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 6rem;
}
  
#sidebar a, a:link, a:visited {
    text-decoration: none;
    color: #777;
    font-weight: 600;
    font-size: 1.3rem;
    transition: all 0.2s;
}

#sidebar a:hover, a:active {
    color: #404040;
}

fa-icon {
    background-color: #55c57a;
    color: #ffffff;
    font-size: 1.6rem;
}

.storage-status {
    font-size: 1.3rem;
    color: #ffffff;
    background-color: #55c57a;
    padding: 5px 10px;
    border-radius: 25px;
}