<div class="col-3">
    <div id="sidebar" class="d-flex align-items-center flex-column">
        <div class="sidebar-menu mb-auto">
            <ul>
                <li>
                    <div class="sidebar-header">
                        <div class="logo d-flex align-items-center justify-content-center">
                            <fa-icon [icon]="faFile"></fa-icon>
                        </div>
                    </div>
                    <!-- end of .sidebar-header -->
                </li>
                <li class="mt-5 pt-4 pb-4">
                    <a href="#">IMAGES</a>
                </li>
                <li class="mt-4 pt-4 pb-4">
                    <a href="#">IMPORTANT</a>
                </li>
                <li class="mt-4 pt-4 pb-4">
                    <a href="#">ARCHIVES</a>
                </li>
                <li class="mt-4 pt-4 pb-4">
                    <a href="#">SNOOZE</a>
                </li>
                <li class="mt-4 pt-4 pb-4">
                    <a href="#">DELETED</a>
                </li>
                <li class="mt-4 pt-4 pb-4">
                    <a href="#">FRIENDS</a>
                </li>
            </ul>
        </div>
        <!-- end of .sidebar-menu -->
        <div class="sidebar-storage">
            <span class="storage-status">YOU ARE USING 20MB/140GB</span>
        </div>
        <!-- end of .sidebar-storage -->
    </div>
    <!-- end of #sidebar -->
</div>
<!-- end of .col-3 -->