@import '../../../../assets/css/global.css';

.bg-login {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, 
    rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../../../../assets/img/bg-header.jpg);
    background-size: 100%;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login__form > form {
    width: 100%;
    padding: 6rem;
} 

.form__radio-group {
    width: 49%;
    display: inline-block;
}

.form__radio-input {
    display: none;
}

.form__radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
}

.form__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid #55c57a;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.4rem;
}

.form__radio-button::after{
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
    background-color: #55c57a;
    opacity: 0;
    transition: opacity .2s;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    opacity: 1;
}


@media only screen and (max-width: 75em) {
    .bg-login {
        width: 90%;
        background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, 
    rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../../../../assets/img/bg-header.jpg);
        background-size: cover;
    }
}

@media only screen and (max-width: 56.25em) {
    .bg-login {
       background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%,
       rgba(255, 255, 255, 0.9)100%), url(../../../../assets/img/bg-header.jpg); 
       width: 50%;    
    }
}

@media only screen and (max-width: 37.5em) {
    .bg-login {
        width: 90%;   
    }
}
