<!-- <section class="bg-login">
   <div class="container-fluid"> 
        <div class="row">
            <div class="login">
                <div class="login__form">
                    <form action="#" class="form">
                        <div class="header margin-bottom">
                            <h2 class="header-secondary">
                                upload memories now!
                            </h2>
                        </div>
                        <div class="form__group">
                            <input type="text" 
                                class="form__input" 
                                placeholder="Enter your email" 
                                id="email" required>
                            <label for="email" class="form__label">Email</label>
                        </div>
                        end of form__group
                        <div class="form__group">
                            <input type="text" 
                                class="form__input" 
                                placeholder="Enter your password" 
                                id="password" required>
                            <label for="email" class="form__label">Password</label>
                        </div>
                        end of form__group
                        <div class="form__group mt-sm-3">
                            <div class="form__radio-group">
                                <input type="radio" class="form__radio-input" id="personal" name="type">
                                <label for="personal" class="form__radio-label">
                                    <span class="form__radio-button"></span>
                                    Personal
                                </label>
                            </div>
                            <div class="form__radio-group mt-4">
                                <input type="radio" class="form__radio-input" id="group" name="type">
                                <label for="group" class="form__radio-label">
                                    <span class="form__radio-button"></span>
                                    Group
                                </label>
                            </div>
                        </div>
                        end of form__group
                        <div class="form__group margin-top">
                            <button class="btn btn--green">Next step &rarr;</button>
                        </div>
                    </form>
                </div>
                end of login__form
            </div>
            end of login
        </div>
        end of row
    </div>
    end of container-fluid
</section> -->


<!-- <section class="bg-login">
    <div class="container-fluid"> 
         <div class="row">
             <div class="login">
                 <div class="login__form">
                     <form action="#" class="form"
                           [formGroup]="loginForm">
                         <div class="header margin-bottom">
                             <h2 class="header-secondary">
                                 upload memories now!
                             </h2>
                         </div>
                         <div class="form__group">
                             <input type="text" 
                                 class="form__input" 
                                 placeholder="Enter your email" 
                                 id="email" required>
                             <label for="email" class="form__label">Email</label>
                             <formly-form [model]="data" [fields]="formDataObj">
                                <button type="submit" class="btn btn-default">Submit</button>
                             </formly-form>
                         </div>
                         end of form__group
                     </form>
                 </div>
                 end of login__form
             </div>
             end of login
         </div>
         end of row
     </div>
     end of container-fluid
 </section> -->

<!-- <form [formGroup]="loginForm" (ngSubmit)="submit(loginModel)">
    <formly-form [form]="loginForm" [fields]="loginFields" [model]="loginModel">
      <button type="submit" class="">Submit</button>
    </formly-form>
</form> -->


<section class="bg-login">
    <div class="container-fluid"> 
         <div class="row">
             <div class="login">
                 <div class="login__form">
                     <form action="#" 
                           class="form"
                           [formGroup]="loginForm" 
                           (ngSubmit)="submit(loginModel)">
                         <div class="header margin-bottom">
                             <h2 class="header-secondary">
                                 upload memories now!
                             </h2>
                         </div>
                         <formly-form [form]="loginForm" [fields]="loginFields" [model]="loginModel">
                            <button type="submit" class="">Submit</button>
                         </formly-form>
                     </form>
                 </div>
                 <!-- end of .login__form -->
             </div>
             <!-- end of .login -->
         </div>
         <!-- end of .row -->
     </div>
     <!-- end of .container-fluid -->
 </section>